@media screen and (width>899px){
    
    .section2{
        display:flex;

    }
    .section2_div1{
        width:80%;
        /* flex:1; */
        height:30rem;
    }
    .section2_div2{
        width:95%;
        height:30rem;
        /* flex:1; */
        
       }
   .section2_div3{
    /* flex:1; */
    height:30rem;

   }
   .sous-titre{
    font-size:1.4rem;
   }
   .title{
width:80%;
    font-size:2.2rem;
   }
   .suivez{
font-size:4rem;

   }
   .section3{
    margin-top:4rem;
   }
    .section3_video{
        width:95%;
        height:48rem;

    }
    .section4{
        margin-top:4rem;

    }
    .section41{
        width:100%;
         height:47rem;
     display:flex;
 
     margin-top:2.5rem;
    }
    .section4_item1{
        width:120%;
        height:47rem;
        flex:1;
    }
    .section4_item{
        justify-content:space-between;
        flex:1;
    }
   
.section4_item2{
    font-size:4.5rem;
    
}

.section4_item3{
    font-size:2.3rem;
}
.section5{
    margin-top:6rem;
    width:100%;
}
.section5_div__11{
    height:15rem;
    width:80%;
}

.section5_divc{
    height:25rem; 
}
.section5_div__12{
    height:25rem;
}
.section5_div__13{
    height:25rem;
}
.section5_div__3{
    width:100%;
    font-size:2.4rem;
}
}