 

header{
    display:flex;
    justify-content:space-between;
    padding-top:2rem;
    padding-right:1rem;
    align-items:center;
    margin:1rem 1.7rem;
}
button{
    background-color:white;
}
.section1{
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2rem 2rem 1.7rem;
    gap:2rem;
}
.section1_div1{
    height: 28rem;
    background-image: url(../img/francis.svg) ;
    background-position: center top;
    background-repeat: no-repeat;
}
.ombre{
    background-color: black;
    height: 28rem;
    width: 91%;
    opacity: 40%;
    position: absolute;
}
.section1_div1_text{
    height: 7rem;
    border-left: solid 1rem ;
    padding-left: 0.8rem;
    display: flex;
    flex-direction: column;
    border-left-color: var(--vert);
    justify-content: space-around;
    color: var(--blanc);
    position: relative;
    margin-top: 19rem;
    margin-left: 1.7rem;
}
.nganou{
    font-family: var(--fontIBM);
    font-size: 1.8rem;
    width: 90%;
    font-weight: 700;
}
.actu{
    font-family: var(--fontIBM);
    font-size: 1.1rem;
    font-weight: 400;
}
.section1_div2{
    display:flex;
    gap:2.8rem;
}
.section1_div2__petit1{
    height:11.4rem;
    background-image:url(../img/enfants.svg);
    background-size:cover;
    color:black;
    flex:1;
    border-radius:1rem;
}
.texte1{
    flex:1;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    font-family: var(--fontIBM);
    font-size:1.7rem;
    font-weight:500;
}
p{
    font-size:1.2rem;
    font-family:var(--fontOpenSans);
}  
.a_la_une{
    height: 3rem;
    border-left: solid 1rem ;
    padding-left: 0.8rem;
    display: flex;
    flex-direction: column;
    border-left-color: var(--vert);
}
hr{
    width:100rem;
    height:0.1rem;
    background-color:black;
}
.section2{
    width:100%;
    /* display:flex; */
    gap:2rem;
    padding-left:2rem;
    padding-top:3rem;
    
}
.section21{
    display:flex;
    flex-direction:column;
    /* flex: 1; */
    /* width: 70%; */
}
.section2_div1{
    width:90%;
    height:21.18rem;
    border-radius:1rem;
    /* overflow:hidden; */
      background-image:url(../img/unesco.svg); 
      background-size:cover;
      background-repeat:no-repeat;
      margin-top:5rem;
}
 .section2_div2{
    width:90%;
     height:21.18rem; 
     /* width:25.195rem;  */
    border-radius:1rem;
    /* overflow:hidden; */
    background-image:url(../img/politique.svg);
    background-size:cover;
    background-repeat:no-repeat;
    margin-top:5rem;
} 
.section2_div3{
    width:90%;
    height:21.18rem;
    /* width:25.195rem; */
    border-radius:1rem;
    background-image:url(../img/foot.svg);
    background-size:cover;
    background-repeat:no-repeat;
    margin-top:5rem;
}

.sous-titre{
    color:var(--vert);
}
.suivez{
    padding-top:4rem;
    text-align:center;
}
.section3_video{
    width:90%;
    height:30rem;
    background:url(../img/zogo.svg);
    background-size:cover;
    background-repeat:no-repeat;
    margin: 1rem 7rem 1rem 2rem;
    border-radius:2rem;


}
.section4_item{
    justify-content:space-between;
    margin-left:2rem;
    width:92%;
}
.section4_item1{
    width:90%;
    height:30rem;
    background-image: url(../img/matin.svg);
    background-repeat:no-repeat;
    background-size:cover;
    margin: 1rem 7rem 1rem 2rem;
    border-radius:2rem;
}
.section4_item2{
    margin: 3rem 7rem 1rem 0rem;
   color:var(--vert);
   font-size:3.2rem;
   font-weight:500;
   font-family:var(--fontIBM);
}
.section4_item4{
    display:flex;
    margin-top:2rem;
    gap:2rem;
}
.section5{
    display: flex;
    justify-content: space-between;
    width: 150%;
    /* background-color: aqua; */
    margin: 3rem 0 0 1.5rem;
}
.section5_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: brown; */
}
.section5_divc{
    height: 15rem;
    width: 80%;
    border:1px rgb(221, 219, 219) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section5_div__11{
    height: 10rem;
    width: 80%;
    background-image: url(/assets/img/nous.svg); 
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;   
}
.section5_div__2{
    width: 12rem;
    font-size: 1.4rem;
    color : var(--vert);
    font-family: var(--fontinter);
}
.section5_div__3{
    color: var(--noir);
    width: 15rem;
    font-family: var(--fontIBM);
    font-size: 1.5rem;
}
.section5_div__12{
    width: 80%;
    height: 15rem;
    background-image: url(/assets/img/arene.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.section5_div__13{
    width: 80%;
    height: 15rem;
    background-image: url(/assets/img/presse.svg);
    background-size: cover;
    background-repeat: no-repeat;
}