 

header{
    display:flex;
    justify-content:space-between;
    padding-top:2rem;
    align-items:center;
    margin:1rem 1.7rem;
}
ul{
    display: none;
}
.b1{
    background-color:white;
}
.b2{
    display: none;
}
.section1{
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2rem 2rem 1.7rem;
    gap:2rem;
}
.section1_div1{
    height: 28rem;
    background-image: url(../img/francis.svg) ;
    background-position: center top;
    background-repeat: no-repeat;
}
.section1_div1_text{
    height: 7rem;
    border-left: solid 1rem ;
    padding-left: 0.8rem;
    display: flex;
    flex-direction: column;
    border-left-color: var(--vert);
    justify-content: space-around;
    color: var(--blanc);
    position: relative;
    margin-top: 19rem;
    margin-left: 1.7rem;
}
.nganou{
    font-family: var(--fontIBM);
    font-size: 1.8rem;
    width: 90%;
    font-weight: 700;
}
.actu{
    font-family: var(--fontIBM);
    font-size: 1.1rem;
    font-weight: 350;
}
.sec1Div2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.a_la_une{
    height: 3rem;
    border-left: solid 1rem ;
    padding-left: 0.8rem;
    display: flex;
    border-left-color: var(--vert);
    align-items: center;
}
.section1_div2{
    display:flex;
    /* gap:2.8rem; */
}
.section1_div2__petit1{
    background-size:cover;
    color: var(--marron);
    flex:1;
    border-radius:1rem;
}
.texte1{
    flex:1;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    font-family: var(--fontIBM);
    color: var(--marron);
    font-size:1.6rem;
    font-weight:500;
}
p{
    font-size:1.2rem;
    font-family:var(--fontOpenSans);
}  
hr{
    width:100rem;
    height:0.1rem;
    background-color:black;
}
